@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Find-A-Tutor is a simple student-tutor app to help student find a tutor for themselfs and to tutors find suited students for them.</p>
