@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h6>at Find-A-Tutor. Log in to start using the portal.</h6>
</div>
