@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>at Find-A-Turor. Log in yourself to start using the portal.</p>
</div>
