@page
@model Find_A_Tutor.Frontend.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" type="text/css" href="~/css/login.css">

<div class="wrapper">
    <div class="container">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Log in</h2>
            <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required="" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
        <p class="text-center">You do not have an account? <a href="/Register">Register now</a></p>
        @foreach (var msg in Model.Errors)
        {
            <p class="text-center">@msg</p>
        }
    </div>

</div>