@page
@model Find_A_Tutor.Frontend.Pages.NewLessonModel
@{
    ViewData["Title"] = "NewLesson";
}
<link rel="stylesheet" type="text/css" href="~/css/newLesson.css">

<h2>Utwórz nową korepetycję</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                <p>Opis</p>
                <input type="text" name="description" placeholder="Opis" required="" />
                <p>Nazwa przedmiotu</p>
                <input type="text" name="subject" placeholder="Przedmiot" required="" />
                <p>Ogłoszenie ważne do</p>
                <input type="date" name="relevantTo" required="" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Wyślij</button>
            </form>
            @foreach(var msg in Model.Messages)
            {
                <h3 class="msg">@msg</h3>
            }
        </div>
    </div>

</div>


