@page
@model Find_A_Tutor.Frontend.Pages.RegisterModel
@{
    ViewData["Title"] = "Zarejestruj się!";
}
   
<link rel="stylesheet" type="text/css" href="~/css/register.css">

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form name="register">
                            <div class="form-group row">
                                <label for="first-name" class="col-md-4 col-form-label text-md-right">Imię</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="FirstName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="LastName" class="col-md-4 col-form-label text-md-right">Nazwisko</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="LastName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="Email" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Hasło</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" name="Password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Czy jesteś nauczycielem?</label>
                                <div class="col-md-6">
                                    <label class="switch">
                                        <input type="checkbox" name="IsTutor">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var msg in Model.Messages)
            {
                <h3 class="msg">@msg</h3>
            }
        </div>
    </div>
</main>

